:root {
  /* color vars */
  --col-primary-bkg: #000000;
  --col-quiz-bkg: #cacacaf8;

  --col-button: #2da5ef;
  --col-button-hover: #2da5ef83;
  --col-button-active: #2da5ef83;

  --col-txt-primary: #454545;
  --col-txt-secondary: #000000;

  /* spacing vars */

  --sp-xsmall: 0.5rem;
  --sp-small: 0.75rem;
  --sp-medium: 1rem;
  --sp-large: 2rem;
  --sp-xlarge: 3rem;

  /* sizing vars */

  --si-xsmall: 0.5rem;
  --si-small: 0.75rem;
  --si-medium: 1rem;
  --si-large: 2;
  --si-xlarge: 3;

  --si-txt-xsmall: 0.5rem;
  --si-txt-small: 0.75rem;
  --si-txt-base: 1rem;
  --si-txt-large: 2rem;
  --si-txt-xlarge: 4rem;
}
